
.slideshow .swiper-button-next, .slideshow .swiper-button-prev{
    @apply hidden invisible md:flex md:visible
}
.autoplay-progress{
    @apply absolute font-dana text-xs right-4 bottom-4 w-[30px] h-[30px] md:text-sm md:w-[48px] md:h-[48px] flex items-center justify-center font-bold text-primary z-10
}
.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--primary);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
