@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url(../public/assets/fonts/dana/dana-thin.eot);
    src: url(../public/assets/fonts/dana/dana-thin.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-thin.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-thin.woff) format('woff') , url(../public/assets/fonts/dana/dana-thin.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url(../public/assets/fonts/dana/dana-extralight.eot);
    src: url(../public/assets/fonts/dana/dana-extralight.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-extralight.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-extralight.woff) format('woff') , url(../public/assets/fonts/dana/dana-extralight.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url(../public/assets/fonts/dana/dana-light.eot);
    src: url(../public/assets/fonts/dana/dana-light.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-light.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-light.woff) format('woff') , url(../public/assets/fonts/dana/dana-light.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url(../public/assets/fonts/dana/dana-medium.eot);
    src: url(../public/assets/fonts/dana/dana-medium.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-medium.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-medium.woff) format('woff') , url(../public/assets/fonts/dana/dana-medium.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url(../public/assets/fonts/dana/dana-demibold.eot);
    src: url(../public/assets/fonts/dana/dana-demibold.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-demibold.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-demibold.woff) format('woff') , url(../public/assets/fonts/dana/dana-demibold.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: 750;
    src: url(../public/assets/fonts/dana/dana-ultrabold.eot);
    src: url(../public/assets/fonts/dana/dana-ultrabold.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-ultrabold.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-ultrabold.woff) format('woff') , url(../public/assets/fonts/dana/dana-ultrabold.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url(../public/assets/fonts/dana/dana-extrabold.eot);
    src: url(../public/assets/fonts/dana/dana-extrabold.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-extrabold.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-extrabold.woff) format('woff') , url(../public/assets/fonts/dana/dana-extrabold.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url(../public/assets/fonts/dana/dana-black.eot);
    src: url(../public/assets/fonts/dana/dana-black.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-black.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-black.woff) format('woff') , url(../public/assets/fonts/dana/dana-black.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url(../public/assets/fonts/dana/dana-bold.eot);
    src: url(../public/assets/fonts/dana/dana-bold.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-bold.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-bold.woff) format('woff') , url(../public/assets/fonts/dana/dana-bold.ttf) format('truetype')
}

@font-face {
    font-family: dana;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url(../public/assets/fonts/dana/dana-regular.eot);
    src: url(../public/assets/fonts/dana/dana-regular.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana/dana-regular.woff2) format('woff2') , url(../public/assets/fonts/dana/dana-regular.woff) format('woff') , url(../public/assets/fonts/dana/dana-regular.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-thin.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-thin.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-thin.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-thin.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-thin.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-extralight.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-extralight.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-extralight.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-extralight.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-extralight.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-light.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-light.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-light.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-light.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-light.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-medium.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-medium.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-medium.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-medium.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-medium.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-demibold.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-demibold.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-demibold.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-demibold.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-demibold.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: 750;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-ultrabold.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-ultrabold.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-ultrabold.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-ultrabold.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-ultrabold.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-extrabold.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-extrabold.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-extrabold.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-extrabold.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-extrabold.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-black.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-black.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-black.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-black.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-black.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-bold.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-bold.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-bold.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-bold.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-bold.ttf) format('truetype')
}

@font-face {
    font-family: dana-fanum;
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-regular.eot);
    src: url(../public/assets/fonts/dana-fanum/dana-fanum-regular.eot?#iefix) format('embedded-opentype') , url(../public/assets/fonts/dana-fanum/dana-fanum-regular.woff2) format('woff2') , url(../public/assets/fonts/dana-fanum/dana-fanum-regular.woff) format('woff') , url(../public/assets/fonts/dana-fanum/dana-fanum-regular.ttf) format('truetype')
}